CONFIG_ARCH_QCOM=y
CONFIG_ARCH_QCOM_SM7325=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QCOM_SCM=y
CONFIG_QCOM_SMP=y
CONFIG_QCOM_GCC_64BIT=y
CONFIG_QCOM_EVM=y
CONFIG_SCSI_UFS_DWC_PLATFORM=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_VERITY=y
CONFIG_EXT4_FS=y
CONFIG_F2FS_FS=y
CONFIG_OVERLAY_FS=y
CONFIG_QCOM_PMIC_SPMI=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_PMIC_SPMI=y
CONFIG_BATTERY_GAUGE=y
CONFIG_CHARGER_MANAGER=y
CONFIG_THERMAL_GOV_FAIR_SHARE=y
CONFIG_DRM=y
CONFIG_DRM_MSM=y
CONFIG_DRM_MSM_DSI=y
CONFIG_DRM_MIPI_DSI=y
CONFIG_DRM_PANEL_SAMSUNG_S6E3HC3=y
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA5=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_ATH11K=y
CONFIG_ATH11K_PCI=y
CONFIG_BT=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_QCOM=y
CONFIG_SND_SOC_QCOM=y
CONFIG_SND_SOC_WCD938X=y
CONFIG_SND_SOC_WCD9XXX_CODEC=y
CONFIG_SND_SOC_WCD9XXX_TLMM=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_HALL_SENSOR=y
CONFIG_LEDS_CLASS=y
CONFIG_ASHMEM=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDER_IPC_SELINUX=y
CONFIG_ION=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=y
